// default settings
html {
  font-size: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Public Sans", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background-color: $DarkBlueMain;
  overflow-x: hidden;
}
a,
a:visited,
a:hover {
  text-decoration: none;
  color: white;
}

// button
.button,
button {
  padding: 0.875rem 2.1875rem;
  border-radius: 3.125rem;
  cursor: pointer;
  border: 0;
  transition: 300ms;
  display: inline-block;
  font-size: 0.875rem;
  color: white;
  font-weight: 400;
  background: $Blue;
  &:hover {
    opacity: 0.75;
  }
}
.container {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

// container
// hide for mobil
.hide-for-mobile {
  @include breakpoints-down(medium) {
    display: none;
  }
}
.hide-for-desktop {
  @include breakpoints-up(large) {
    display: none;
  }
}
