// testmonial section
.testmonials {
  display: grid;
  padding: 0 0.94rem;
  gap: 30px;
  grid-template-columns: 1fr;

  @include breakpoints-up(large) {
    grid-template-columns: repeat(3, 1fr);
  }
  color: $White;

  .col-1,
  .col-2,
  .col-3 {
    background-color: $DarkBlueTestmonial;
    padding: 0.94rem;
    margin-bottom: 20px;
    .user {
      display: flex;
      img {
        width: 40px;
        border-radius: 100%;
        margin-right: 10px;
      }
    }
  }
}
