// testmonial section
.testmonials {
  display: grid;
  padding: 0 0.94rem;
  gap: 30px;
  grid-template-columns: 1fr;

  @include breakpoints-up(large) {
    margin: auto;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
  }
  @include breakpoints-up(medium) {
    width: 80%;
    margin: auto;
  }
  color: $White;

  .col-1,
  .col-2,
  .col-3 {
    background-color: $DarkBlueTestmonial;
    padding: 0 0.94rem;
    border-radius: 20px;
    margin-bottom: 20px;
    p {
      font-size: 14px;
    }
    .user {
      display: flex;
      img {
        height: 50px;
        justify-self: baseline;
        padding: 0;
        border-radius: 50px;
        margin-right: 10px;
      }
    }
  }
}
